.bundle
db/*.sqlite3
db/data.yml
db/*.sqlite3.*
log/*.log
tmp/
*.pyc
*.swp
*.swo
*.swn
*.tmp
*.bak
spec/helpers/
spec/views/
spec/routing/
doc/~$*
doc/Thumbs.db
config/initializers/authorizer_and_ldap.rb
config/database.yml
config/settings.yml
REVISION
log
./*.sql
clean_empty_helper.rb
*.log
public/assets
spec/mock_attributes.yaml
*.sql
lib/radius/auth.py
config/settings.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
public/files
.idea/*.xml
config/log4r.yml
*.zip
nohup.out
config/thin.yml
public/uploads/
config/deploy.rb
public/deploy/
.DS_Store
Gemfile.lock
_book
node_modules
